@charset "utf-8";
/* CSS Document */

.sl_box{margin:0px 0px 20px; width:222px; background-position:0px -491px;}
.sl_box .sl_box_top{width:222px; height:25px; background-position:-210px -820px;}
.sl_box .sl_box_mid{width:192px; min-height:38px; background:url(../img/org_mid_bg.png) repeat-y left top; padding:0px 15px 15px;}
.sl_box .sl_box_bot{width:222px; height:17px; background-position:-210px -848px;}
.sl_box .sl_box_mid h2{color:#454545; font:normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif!important; text-transform:uppercase; margin:0px!important;}
.sl_box .sl_box_mid span{color:#A3238F;}
.sl_box .sl_box_mid ul{margin:0px; padding:0px; list-style:none;}
.sl_box .sl_box_mid ul li{list-style-type:none; background:url(../img/sprite.png) no-repeat -996px 11px; border-bottom:1px dashed #dedad1; padding:5px 0px 5px 10px;}
.complaint_icon{width:79px; height:81px; background:url(../img/tec_dash_sprite.png) no-repeat 0px -50px; margin:0px auto;}
.teacher_status_icon{width:68px; height:68px; background:url(../img/tec_dash_sprite.png) no-repeat 0px -145px; margin:0px auto;}
.com_txt{line-height:49px; font:normal 16px/40px Arial, Helvetica, sans-serif; text-align:center; }
.com_txt a{color:#D2A70D;}
.com_txt a:hover{color:#454545;}
.holi_icon{background-position:0px -1112px;}
.towo_wrapp{background:url(../img/tran_indigo_bg.png) repeat left top; border:0px solid #e7e5dd; margin-bottom:25px;}
.towo_wrapp a{background: #a02a39; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwMmEzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NTE2MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a02a39 0%, #851628 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a02a39), color-stop(100%,#851628)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a02a39 0%,#851628 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a02a39 0%,#851628 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a02a39 0%,#851628 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a02a39 0%,#851628 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a02a39', endColorstr='#851628',GradientType=0 ); /* IE6-8 */
 border:0px solid #fff; color:#fff;  font:normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; padding:6px 10px; box-shadow:0px 1px #7a091b; -moz-box-shadow:0px 1px #7a091b; -webkit-box-shadow:0px 1px #7a091b; cursor:pointer;display: inline-block;}
.towo_wrapp a:hover{color:#FFB5BF;}
.towo_wrapp .today_app_wrapp{width:164px; float:left; border-right:1px solid #780F69; background:url(../img/tec_dash_sprite.png) no-repeat -186px 19px; padding:19px 0px 19px 82px; font:normal 13px /40px Arial, Helvetica, sans-serif;}
.towo_wrapp .work_to_do_wrapp{width:162px; float:right; border-left:1px solid #780F69; background:url(../img/tec_dash_sprite.png) no-repeat -184px -99px; padding:19px 0px 19px 82px; font:normal 13px /40px Arial, Helvetica, sans-serif;}
.red_col{color:#d10000!important;}
.top_row .input{width:144px; height:27px; border:1px solid #c7c6c2; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; color:#656565; padding:0px 10px;}
table.billing_invoic td .select{width:80px; height:28px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;border:1px solid #c7c6c2; padding:5px;color:#656565;}
table.billing_invoic td .select_l{width:180px; height:28px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;border:1px solid #c7c6c2; padding:5px;color:#656565;}
.stat_ind_wrapp{background:url(../img/right_nav_bg.jpg) repeat left top; width:710px; height:36px; border:1px solid #e7e5dd; margin-bottom:10px; padding:0px 10px;}
.stat_ind_wrapp span{float:right; font:bold 12px/36px Arial, Helvetica, sans-serif; color:#454545; margin-left:7px;}
.stat_ind_wrapp .done_bg{background:#9ec140; border:1px solid #d9cccf; width:35px; height:20px; float:right; margin:8px 0px 0px 24px;}
.stat_ind_wrapp .pending_bg{background:#ffce18; border:1px solid #d9cccf; width:35px; height:20px; float:right; margin:8px 0px 0px 24px;}
.stat_ind_wrapp .cancel_bg{background:#db2a2a; border:1px solid #d9cccf; width:35px; height:20px; float:right; margin:8px 0px 0px 24px;}
.comp_sub{color:#82ae1b; font:bold 12px Arial, Helvetica, sans-serif; margin:5px 0px;}
.stu_name_wrapp{margin:5px 0px 0px;}
.com_textarea{ background:#fff; border:1px solid #C7C6C2; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; color: #656565; height:56px; margin:10px 0px 10px 79px; padding:10px; width:526px;}
.cancel_bg{background:#db2a2a; border:1px solid #d9cccf; width:35px; height:20px; margin:0px auto;}
.pending_bg{background:#ffce18; border:1px solid #d9cccf; width:35px; height:20px; margin:0px auto;}
.done_bg{background:#9ec140; border:1px solid #d9cccf; width:35px; height:20px; margin:0px auto;}
.user_img_box{width:58px; margin-right:13px; float:left;}
.user_img_box img{padding:3px; border:1px solid #BFBFBF;}


.stat_ind_wrapp_ComplaintBox{
    background: url("../img/right_nav_bg.jpg") repeat scroll left top transparent;
    border: 1px solid #E7E5DD;
    height: 36px;
 }
 .stat_ind_wrapp_ComplaintBox span{float:right; font:bold 12px/36px Arial, Helvetica, sans-serif; color:#454545; margin-left:7px;}
.stat_ind_wrapp_ComplaintBox .done_bg{background:#9ec140; border:1px solid #d9cccf; width:35px; height:20px; float:right; margin:8px 0px 0px 24px;}
.stat_ind_wrapp_ComplaintBox .pending_bg{background:#ffce18; border:1px solid #d9cccf; width:35px; height:20px; float:right; margin:8px 0px 0px 24px;}
.stat_ind_wrapp_ComplaintBox .cancel_bg{background:#db2a2a; border:1px solid #d9cccf; width:35px; height:20px; float:right; margin:8px 0px 0px 24px;}




.stat_ind_wrapp_Worktodo{
    
   
    height: 36px;
 }
 .stat_ind_wrapp_Worktodo span{float:right; font:bold 12px/36px Arial, Helvetica, sans-serif; color:#454545; margin-left:7px;}
.stat_ind_wrapp_Worktodo .done_bg{background:#9ec140; border:1px solid #d9cccf; width:35px; height:20px; float:right; margin:8px 0px 0px 24px;}
.stat_ind_wrapp_Worktodo .pending_bg{background:#ffce18; border:1px solid #d9cccf; width:35px; height:20px; float:right; margin:8px 0px 0px 24px;}
.stat_ind_wrapp_Worktodo .cancel_bg{background:#db2a2a; border:1px solid #d9cccf; width:35px; height:20px; float:right; margin:8px 0px 0px 24px;}


