/*~~~~~~~~School Details~~~~~~~~~*/
.quick_link_block_wrapper{ width:714px; float:left; border:1px solid #e5e5e5; padding:20px;}
.school_details_headings{ font:Arial, Helvetica, sans-serif 14px bold; color:#ef8811; background-image:url(../img/orange_arrow.png; 
padding-left:20px;)