<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
	</configSections>
	<appSettings>	<!--	<add key="googlemaps.subgurim.net" value="AIzaSyCTDTsnEesDDrDVnQrejvQLBygMRMoON80"/>-->
    <add key="googlemaps.net" value="AIzaSyAuT0HPJYa5uj0oSF_16Ay1OeD6YV9CfNU"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
	</appSettings>
	<connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Integrated Security=false;Persist Security Info=False;Data Source=RJR-PC;Initial Catalog=school;User ID=rjr;Password=pass"/>

    <!--<add name="Default" providerName="System.Data.SqlClient" connectionString="Integrated Security=false;Persist Security Info=False;Data Source=abraham;Initial Catalog=schoolerpdemo;User ID=sa;Password="/>-->
	<!--<add name="Default" providerName="System.Data.SqlClient" connectionString="Integrated Security=false;Persist Security Info=False;Data Source=SQL-SERVER;Initial Catalog=schoolerpsoft ;User ID=sa;Password=techmodi123"/>-->
	</connectionStrings>
	<dataConfiguration defaultDatabase="Default"/>
	<system.web>
		<customErrors mode="Off"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<!--<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--  <authentication mode="Windows"/>
   
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpRuntime executionTimeout="99999999" maxRequestLength="2097151"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableViewStateMac="false"/>

    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value=""/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
