<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
	</configSections>
	<connectionStrings>
		<add
			name="Default" 
			providerName="System.Data.SqlClient"
			connectionString="server=ServerName;database=DatabaseName;Integrated Security=true" />
	</connectionStrings>
	<dataConfiguration defaultDatabase="Default"/>
</configuration>